 --------------------------------------------------------------------------------------------------------
| create a .env file in project's root folder and put the below template in it and add respective values.|
 --------------------------------------------------------------------------------------------------------
ENVIRONMENT=
APP_PORT=
APP_HOST=
# broker-list accepts comma separated values
KAFKA_BROKER_LIST=
# keystore file location. pfx is an alternative to providing key and cert individually
KAFKA_SSLOPTIONS_PFX=
# passphrase used for a single private key and/or a PFX
KAFKA_SSLOPTIONS_PASSPHRASE=